<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .article-content{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100px;
        }
    </style>
</head>
<body>

<div th:include="~{index.html :: navbar}"></div>

<div class="row">

    <div align="center" style="margin: auto;width: 98%">
        <a th:href="${link}">
            <i class="fa fa-unsorted" style="font-size:36px"></i>
        </a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Content</th>
                <th scope="col">Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <th scope="row" th:text="${article.id}"></th>
                <td class="article-content" th:text="${article.title}"></td>
                <td th:text="${article.type}"></td>
                <td class="article-content" th:text="${article.content}"></td>
                <td><a th:href="'/admin/edit/' + ${article.id}" class="btn btn-primary">Edit</a></td>
            </tr>

            </tbody>
        </table>
    </div>

</div>



</body>
</html>